body, html, #markdown-calendar
  { height: 100%
  ; font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  }

.wrapper
  { height: 100%
  ; display: flex
  ; flex-direction: column
  }

.header
  { margin: 10px
  }

.calendar
  { margin: 10px
  ; display: flex
  ; flex-direction: column
  ; flex: auto
  }

label
  { margin-left: 5px
  ; margin-right: 5px
  }

input
  { font-family: Menlo, Monaco, "Courier New", Courier, monospace;
  }

textarea.form-control
  { font-family: Menlo, Monaco, "Courier New", Courier, monospace;
  ; font-size: 12px
  ; flex: auto
  }
